In [2]:
#import stuff
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
#find the website
r = requests.get("https://webpages.charlotte.edu/mscipion/")
print(r.text)

<!DOCTYPE html>
<!--
    Plain-Academic by Vasilios Mavroudis
    Released under the Simplified BSD License/FreeBSD (2-clause) License.
    https://github.com/mavroudisv/plain-academic
-->

<html lang="en">
<head>
  <title>Python Web Scraping</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>


</head>
<body>


<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
				  <li><a href="index.html">Home</a></li>
				  <li><a href="#">Projects</a></li>
				  <li><a href="#publications">Publications</a></li>
				  <li><a href="#">CV</a></li>
		  </ul>
		</div>
	  </div>
	</nav>

  <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Entries Column -->
            <div class="col-md-8" style="height: 100vh;">

                <!-- Main Image -->
                <img class="img-responsive" src="photo.gif" alt=""><br>

                <div style="margin-top:3%; text-align:justify;">



<h2>Web Scraping Assignment:</b></h2>

<ol>
<li>Scrape the table below using the BeautifulSoup library. Use the examples posted in Canvas.</li>
<li> store the informaton into a pandas dataframe.</li>
<li>Save your code in a Jupyter notebook file.</li>
<li>Upload your .ipynb file into your personal Github repository. Make sure to write a brief README.md file.</li>
<li>Upload the Github link on Canvas.</li>
</ol>

<hr>

<h3>Table</h3>
<br>

<table>
  <tr>
    <th>Student</th>
    <th>Favourite Computer Language</th>
    <th>Years of Experience</th>
  </tr>
  <tr>
    <td>Fred</td>
    <td>Kotlin</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Paula</td>
    <td>Python</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Ernst</td>
    <td>Java</td>
    <td>7</td>
  </tr>
  <tr>
    <td>Isabel</td>
    <td>C++</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Tony</td>
    <td>Pearl</td>
    <td>7</td>
  </tr>
  <tr>
    <td>Maria</td>
    <td>Cobol</td>
    <td>15</td>


</table>
                </div>
            </div>

</head>
<body>



            <!-- Contact Info on the Sidebar -->
            <div class="col-md-4">
                <div style="font-family: 'Oswald', sans-serif; font-size: 32px;"><b>Marco Scipioni</b></div><br>
                <p><b>Email:</b> mscipion at uncc.edu<br>
                   <b>Department:</b> School of Data Science <br>
                   <b>Institution:</b> University of North Carolina at Charlotte</br>
                </p>
            </div>


            <!-- Links on the Sidebar -->
            <div class="col-md-4" style="margin-top:1%">
              <dd><a href="https://sds.charlotte.edu/directory/marco-scipioni/">UNCC Webpage</a></dd>
              <dd><a href="https://www.linkedin.com/in/marco-scipioni-21895826/">LinkedIn</a></dd>
            </div>





        </div>


    </div>
    <!-- /.container -->

    <!-- Other people may like it too! -->
    <a style="color:#b5bec9;font-size:0.8em; float:right;" href="https://github.com/mavroudisv/plain-academic">Plain Academic</a>



</body>

</html>

In [4]:
#find the table
soup = BeautifulSoup(r.text, "lxml")

In [5]:
table = soup.find("table")

print(table)

<table>
<tr>
<th>Student</th>
<th>Favourite Computer Language</th>
<th>Years of Experience</th>
</tr>
<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>
<tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>
<tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>
<tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr></table>

In [6]:
#get the headers
headers = table.find_all("th")
print(headers)

[<th>Student</th>, <th>Favourite Computer Language</th>, <th>Years of Experience</th>]

In [7]:
#get the data
data = table.find_all("td")
print(data)

[<td>Fred</td>, <td>Kotlin</td>, <td>4</td>, <td>Paula</td>, <td>Python</td>, <td>2</td>, <td>Ernst</td>, <td>Java</td>, <td>7</td>, <td>Isabel</td>, <td>C++</td>, <td>3</td>, <td>Tony</td>, <td>Pearl</td>, <td>7</td>, <td>Maria</td>, <td>Cobol</td>, <td>15</td>]

In [8]:
#clean the lists
titles = [i.text for i in headers]
stuff = [i.text for i in data]
print(titles)
print(stuff)

['Student', 'Favourite Computer Language', 'Years of Experience']
['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']

In [11]:
#testing stuff from ChatGPT
num_rows = len(stuff) // 2 
reshaped_list = [stuff[i:i+3] for i in range(0, len(stuff), 3)]
print(reshaped_list)

[['Fred', 'Kotlin', '4'], ['Paula', 'Python', '2'], ['Ernst', 'Java', '7'], ['Isabel', 'C++', '3'], ['Tony', 'Pearl', '7'], ['Maria', 'Cobol', '15']]

In [13]:
df = pd.DataFrame(reshaped_list, columns= titles)
df

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
5   Maria                       Cobol                  15